<style>
body {
  border: 1px solid #DBDBDB;
}
.log-in {
  background-color: #711bff;
  color: white;
  text-align: center;
  width: 318px;
  height: 40px;
  left: 16px;
  top: 50px;
  line-height: 40px;
  border-radius: 4px;
}
.find-id {
  font-size: 1px;
  color: #DBDBDB
  box-sizing: border-box;
  top: 30px;
  left: 25px;
}
.welcome {
  font-size: 12px;
  font-weight: 400;
  line-height: 15.02px;
}
.lock {
  width: 6.67px;
  height: 6px;
  top: 1.33px
  left: 4.67px
}
</style>